ipykernel
tensorflow==2.8
tensorflow-datasets
tensorflow-hub
tensorflowjs
tensorflow_probability==0.16.0
jupyter
spyder
matplotlib
pandas
seaborn
scikit-learn
pymysql
opencv-python
opencv-contrib-python
protobuf==3.20.*
roboflow
ultralytics
